# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
+ Popular languages for Data Science  
+ Commonly used libraries used by Data Scientists  
+ Data Science Tools  
+ Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:  
1- Python  
2- R  
3- Julia  
4- Scala

Some of the commonly used libraries used by Data Scientists include:  
1- NumPy, SciPy, Pandas, Seaborn, Matplotlib (in Python)  
2- Pytorch, Keras, TensorFlow, Scikit-learn (in Python)  
3- dplyr, pltly, Leaflet, caret, ggplot2 (in R)  
4- Vegas, Big DL (in Scala)

| Data Science Tools |
| :------------------ |
| Jupyter lab |
| Apache Zeppelin |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour_to_min_factor = 60
hour = min / hour_to_min_factor
print(f"{min} minutes equals {round(hour,2)} hours")

200 minutes equals 3.33 hours

## Author
Behrouz Delfanian